$dcontainer-flex-values: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
$dcontainer-flex-direction: column, row;
$dcontainer-flex-align-items: center, flex-start, flex-end;
$dcontainer-flex-justify-content: center, flex-start, flex-end, space-around,
  space-between;
