.card {
  margin-bottom: 10px;
  padding-top: 100px;

  & .col-title {
    display: flex;
    justify-content: center;
    margin: 1rem 0;

    & > h1 {
      font-size: 2.18rem;
      color: white;
      border-radius: 5px;
      padding: 10px;
      background-color: rgba(81, 59, 44, 0.5);
    }
  }

  & .col-children {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}
