.skills-card {
  padding-top: 50px;

  .skills-row {
    color: white;
    background: rgba(81, 59, 44, 0.8);
    padding: 15px;
    text-align: justify;
  }

  .skills-column {
    margin: 1rem 0px;
  }
}
